.header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-left: 93px;
}
.header-list__item + .header-list__item {
  margin-left: 50px;
}
.header-list__page {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--titles-color);
}
.header-list__page--current {
  position: relative;
  color: var(--button-color);
}
.header-list__page--current::after {
  position: absolute;
  content: "";
  display: block;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2%;
  left: 0;
  bottom: 0;
}
.header-list__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--titles-color);
}
.header-list__item :hover,
.header-list__item :focus {
  color: var(--button-color);
  background-color: var(--header-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--button-color);
}
.logo__color {
  color: #000000;
}
.logo__color--inverse {
  color: #fff;
}

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contacts__item {
  display: block;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__item:last-child {
  margin-left: 30px;
}
.contacts__item :hover,
.contacts__item :focus {
  color: #2196f3;
  fill: currentColor;
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__mail,
.contacts__phone {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  padding: 32px 0;
  align-items: center;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*.contacts__item:last-child {
    margin-left: 30px;
}


.contacts__item {
    display: block;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts__item :hover,
.contacts__item :focus {
    color: #2196F3;
    fill: currentColor;

}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}





.contacts__mail,
.contacts__phone {

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    padding: 32px 0;
    align-items: center;
    color: var(--text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}*/
/*.header-list__item :hover,
.header-list__item :focus {

    color: var(--button-color);
    background-color: var(--header-color);

}

.header-list__item,
.header-list__page {

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--titles-color)
}*/
/*.header-list__page--current {
    position: relative;
    color: var(--button-color);
}


.header-list__page--current::after {
    position: absolute;
    content: "";
    display: block;
    background-color: #2196F3;
    width: 100%;
    height: 4px;
    border-radius: 2%;
    left: 0;
    bottom: 0;

}*/
/*.logo__color {
    color: #000000;
}


.logo__color--inverse {
    color: #fff;
}*/
.footer {
  display: block;
  width: 100%;
  height: 603px;
  background-color: var(--hero-footer-color);
  max-width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 463px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    padding: 60px 0;
  }
  .footer__box {
    display: flex;
    align-items: baseline;
  }
}
.footer__list {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  padding-bottom: 60px;
}
.footer__list :hover,
.footer__list :focus {
  color: var(--button-color);
}
@media screen and (min-width: 768px) {
  .footer__list {
    margin-left: 76px;
    margin-top: 20px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__list {
    text-align: start;
    margin-left: 0;
  }
}
.footer__address {
  color: var(--header-color);
  transition-property: background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__mail,
.footer__phone {
  color: var(--footer-phone-color);
  transition-property: background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__item {
  margin-bottom: 9px;
}
.footer__item:last-child {
  margin-bottom: 0;
}

.logo {
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    padding: 0;
    margin-top: 60px;
    margin-left: 115px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-left: 0;
  }
}

.footer__text {
  display: block;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__text {
    display: flex;
    margin: 0 auto;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text {
    margin-left: 0;
    margin-right: 0;
  }
}

.join {
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  width: 100%;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .join {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
    width: 206px;
    height: 80px;
    align-items: flex-start;
  }
}
.join__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.socials-footer {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding: 0 auto;
  margin-top: 20px;
}
.socials-footer__icon {
  fill: #ffffff;
}
.socials-footer__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-footer__link:hover,
.socials-footer__link:focus {
  background-color: #2196f3;
}
.socials-footer__item {
  margin-left: 10px;
}
.socials-footer__item:first-child {
  margin-left: 0px;
}

.news {
  margin-left: auto;
  display: block;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .news {
    display: flex;
    width: 450px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .news {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin-right: 0;
    width: 570px;
  }
}
.news__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.input {
  display: block;
  margin-top: 20px;
  width: 100%;
}
.input__mailme {
  display: inline;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 18.8px;
}
.input__mailme:focus {
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .input__mailme {
    margin-bottom: 0;
    height: 50px;
    padding-left: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .input {
    display: flex;
    margin-top: 20px;
  }
}

.news__button {
  min-width: 200px;
  min-height: 50px;
  display: flex;
  margin-top: 20px;
  margin: 0 auto;
  background-color: #2196f3;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.news__button:hover,
.news__button:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .news__button {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .news__button {
    min-width: 200px;
    min-height: 50px;
    display: flex;
    margin-left: 12px;
  }
}

.news__icon {
  margin-left: 10px;
}

.hero {
  text-align: center;
  background: var(--hero-footer-color);
  max-width: 100%;
  margin-bottom: 0;
  padding-top: 118px;
  height: 400px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 696px;
  }
}

.hero {
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero__button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 0;
  min-width: 200px;
  min-height: 50px;
  display: inline-block;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--button-color);
  color: var(--header-color);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover {
  color: var(--header-color);
  background: #188ce8;
}

/*.hero__button:hover {
    color: var(--header-color);
    background: #188ce8;
}*/
/*.hero__title {
    width: 696px;

    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

    text-transform: uppercase;
    color: var(--header-color);
}*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
  transition-property: transform;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .modal {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  padding: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal__close-button:focus,
.modal__close-button:hover {
  fill: #2196f3;
}

.backdrop.is-hidden .modal {
  transform: rotate(-360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  width: 370px;
  margin-left: auto;
  margin-right: auto;
}
.form__title {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .form {
    width: 448px;
    height: 342px;
  }
}

.user-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.user-form__field {
  padding-left: 40px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.user-form__space {
  position: relative;
}
.user-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-form__text {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
  cursor: pointer;
}
.user-form__text:hover {
  border-color: #2196f3;
}
.user-form__text:focus {
  border-color: #2196f3;
  outline: none;
}
@media screen and (min-width: 1200px) {
  .user-form__text {
    max-height: 120px;
  }
}

.user-form input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.user-form input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.user-form textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.user-form__field:focus,
.user-form__field:hover {
  border-color: #2196f3;
}

.user-form__field:focus + .user-form__icon {
  fill: #2196f3;
}

.user-form__field:hover + .user-form__icon {
  fill: #2196f3;
}

.user-form label {
  margin-bottom: 4px;
}

.agree__text {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
.agree__text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8.38px;
}
@media screen and (min-width: 1200px) {
  .agree__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    justify-content: center;
  }
}

.agree:checked + .agree__text::before {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.agree:focus + .agree__text::before {
  border-color: #2196f3;
}

.agree:hover + .agree__text::before {
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .agree__conditions {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: underline;
    color: #2196f3;
    margin-left: 2px;
  }
}
.agree__conditions:focus {
  outline: none;
  color: #3873a4;
}

.form__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  text-align: center;
  display: flex;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__button:hover {
  color: #ffffff;
  background-color: #188ce8;
}

.form__button:focus {
  color: #ffffff;
  background-color: #188ce8;
  outline: none;
}

.agree input[type="checkbox"] {
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
}

/*.agree__conditions:focus {
    outline: none;
    color: #3873a4;
}*/
/*.agree__text::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 8.38px;
}*/
/*.user-form__text {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 12px;
    cursor: pointer;
}

.user-form__text:hover {
    border-color: #2196f3;
}

.user-form__text:focus {
    border-color: #2196f3;
    outline: none;
}*/
/*.modal__close-button {
    position: absolute;

    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    padding: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal__close-button:focus,
.modal__close-button:hover {
    fill: #2196f3;
}*/
/*.form__title {
    display: flex;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    justify-content: center;
    letter-spacing: 0.03em;

    color: #212121;

    margin-bottom: 12px;
}*/
/*.user-form__field {
    padding-left: 40px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}*/
/*.user-form__space {
    position: relative;
}

.user-form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
.features {
  padding-top: 94px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .features {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
}
.features__list {
  display: flex;
  flex-wrap: wrap;
}
.features__text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--text-color);
}
.features__title {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--titles-color);
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__item {
  max-width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc(25% - 30px);
    margin-left: 30px;
  }
}

.features__item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.features__icon-antena::before {
  background-image: url(../images/antenna\ .png);
}

.features__icon-watch::before {
  background-image: url(../images/watch.png);
}

.features__icon-comp::before {
  background-image: url(../images/comp.png);
}

.features__icon-astronaut::before {
  background-image: url(../images/astronaut\ .png);
}

/*.features__list .features__item +.features__item {
    margin-left: 30px;
}*/
/*.features__title {
    font-size: 14px;
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--titles-color);
}*/
/*.features__text {
    font-weight: 400;
    line-height: 1.71;

    color: var(--text-color);
}*/
.product {
  margin-top: 0;
  padding: bottom 94px;
  display: none;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .product {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .product {
    margin-top: 94px;
    margin-bottom: 94px;
    display: block;
  }
}
.product__title {
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--titles-color);
}
.product__image {
  position: relative;
  max-width: 100%;
}
.product__text {
  bottom: 0;
  left: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--header-color);
  display: flex;
}
.product__list {
  display: flex;
  margin-top: 0;
}

.product__list .product__image + .product__image {
  margin-left: 30px;
}

/*.product__title {
    margin-bottom: 50px;
    margin-top: 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    color: var(--titles-color);
}*/
/*.product-thumb {
    position: relative;

    }


    .product-thumb::before{
        content: "";
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 70px;
        position: absolute;
        background: rgba(47, 48, 58, 0.8);
       bottom: 0;

    }


.product__image {
    position: relative;
}

.product__text {
    bottom: 0;
    left: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: var(--header-color);

    display: flex;
}

.product__list {
    display: flex;
    margin-top: 0;
}*/
.staff {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .staff {
    padding-top: 94px;
  }
}

.staff-person__photo {
  max-width: 100%;
}

.staff-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .staff-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.staff-person {
  background-color: var(--header-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .staff-person {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .staff-person {
    width: calc(25% - 30px);
    margin-left: 30px;
  }
  .staff-person:first-child {
    margin-left: 0;
  }
}
.staff-person__position {
  text-align: center;
}
.staff-person__name {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--titles-color);
}
.staff-person__job {
  margin-top: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color);
}
.staff-person__footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.staff-title {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .staff-title {
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.socials__link {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__icon {
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__item :hover,
.socials__item :focus {
  background-color: var(--button-color);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: #ffffff;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

/*.staff-person__footer {
    padding-top: 30px;
    padding-bottom: 30px;
}*/
/*.staff-person__position {
    text-align: center;
}*/
/*.staff-person__name {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    color: var(--titles-color);
}

.staff-person__job {
    margin-top: 0px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    color: var(--text-color);
}*/
/*.socials__link {
    width: 44px;
    height: 44px;

    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
/*.socials__icon {
    fill: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
.clients {
  padding-top: 60px;
  margin-bottom: 60px;
}
.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
@media screen and (min-width: 768px) {
  .clients__list {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}
.clients__logo {
  margin-bottom: 30px;
  margin-left: 30px;
  width: calc(100% - 30px);
  width: 210px;
}
@media screen and (min-width: 768px) {
  .clients__logo {
    width: calc(33.3333333333% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__logo {
    width: calc(33.3333333333% - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
  }
}
.clients__link {
  display: flex;
  padding: 16px 32px;
  fill: currentColor;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  max-width: 210px;
  height: 92px;
  cursor: pointer;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
  fill: currentColor;
  color: #2196f3;
  border-color: var(--button-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__icon {
  display: flex;
  fill: currentColor;
}

.clients__list .container {
  display: flex;
  max-width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

/*.clients__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    margin-bottom: 50px;
}*/
/*.clients__list {
    display: flex;
    align-items: center;
    margin-left: 0;
}*/
/*.clients__logo {
    margin-left: 30px;
}*/
/*.clients__logo:first-child {
    margin-left: 0px;
}*/
/*.clients__link {
    display: flex;
    padding: 16px 32px;
    fill: currentColor;
    color: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    cursor: pointer;

    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}*/
/*.clients__link:hover,
.clients__link:focus {
    fill: currentColor;
    color: #2196f3;
    border-color: var(--button-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}*/
.main {
  padding-top: 94px;
  padding-bottom: 94px;
}

.nav-list {
  justify-content: center;
  display: flex;
}
.nav-list__btn {
  margin-left: 8px;
}
.nav-list__btn:first-child {
  margin-left: 0px;
}
.nav-list__btn-text {
  padding: 6px 22px;
  text-align: center;
  max-width: 145px;
  display: block;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--btn-bcg-color);
  color: var(--titles-color);
  cursor: pointer;
  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__btn-text:hover,
.nav-list__btn-text:focus {
  color: var(--header-color);
  background-color: var(--button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*.nav-list .nav-list__btn + .nav-list__btn{
    margin-left: 8px;
}*/
/*.nav-list__btn {
    margin-left: 8px;
}*/
/*.nav-list__btn:first-child {
    margin-left: 0px;
}*/
/*.nav-list__btn-text {
    padding: 6px 22px;

    text-align: center;
    max-width: 145px;
    display: block;
    border-radius: 4px;
    border: 1px solid transparent;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    background-color: var(--btn-bcg-color);
    color: var(--titles-color);
    cursor: pointer;

    transition-property: background-color color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}*/
/*.nav-list__btn-text:hover,
.nav-list__btn-text:focus {
    color: var(--header-color);
    background-color: var(--button-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}*/
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__thumb::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(350px);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__thumb::before {
  transform: translateY(0);
}

.portfolio__link:focus .portfolio__thumb::before {
  transform: translateY(0);
}

.portfolio__text {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  width: 322px;
  height: 168px;
  color: var(--header-color);
  top: 63px;
  left: 24px;
  display: flex;
  transform: translateY(350px);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__text {
  transform: translate(0);
}

.portfolio__link:focus .portfolio__text {
  transform: translate(0);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.portfolio__option {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}
.portfolio__example {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titles-color);
}
.portfolio__link {
  display: block;
}
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__item {
  margin-bottom: 30px;
  margin-right: 30px;
  width: 370px;
  height: 404px;
  cursor: pointer;
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__item :nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-border {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  width: 370px;
  border-top: none;
}

/*.portfolio__example {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--titles-color);
}*/
/*.portfolio__option {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;

    color: var(--text-color);
}*/
/*.portfolio__thumb::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 370px;
    height: 294px;

    background: rgba(33, 150, 243, 0.9);

    transform: translateY(350px);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
/*.portfolio__item {
    margin-bottom: 30px;
    margin-right: 30px;
    width: 370px;
    height: 404px;
    cursor: pointer;
    &:nth-child(3n) {
            margin-right: 0;
        }
                :nth-last-child(-n + 3) {
                    margin-bottom: 0;
                }
                                &:hover,
                                &:focus {
                                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                                        1px 4px 6px rgba(0, 0, 0, 0.16);
                                }
}*/
/*.portfolio__item:nth-child(3n) {
    margin-right: 0;
}*/
/*.portfolio__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio__link {
    display: block;
}*/
/*.portfolio__item:hover,
.portfolio__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}*/
:root {
  --header-color: #ffffff;
  --hero-footer-color: #2f303a;
  --button-color: #2196f3;
  --titles-color: #212121;
  --text-color: #757575;
  --btn-bcg-color: #f5f4fa;
  --logo-header-color: #000000;
  --footer-phone-color: rgba(255, 255, 255, 0.6);
}

img {
  display: flex;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background-color: var(--header-color);
  color: var(--titles-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/*.list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.link {
    text-decoration: none;

}*/
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
} /*# sourceMappingURL=main.css.map */
