.portfolio__thumb {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 294px;

    background: rgba(33, 150, 243, 0.9);

    transform: translateY(350px);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio__link:hover .portfolio__thumb::before {
  transform: translateY(0);
}

.portfolio__link:focus .portfolio__thumb::before {
  transform: translateY(0);
}

.portfolio__text {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  width: 322px;
  height: 168px;

  color: var(--header-color);

  top: 63px;
  left: 24px;

  display: block;
  transform: translateY(350px);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__text {
  transform: translate(0);
}

.portfolio__link:focus .portfolio__text {
  transform: translate(0);
}

.portfolio {
  display: block;
  flex-wrap: wrap;
  margin-top: 50px;

  &__option {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;

    color: var(--text-color);
  }

  &__example {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--titles-color);
  }

  &__link {
    display: block;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__item {
    margin-bottom: 30px;
    margin-right: 30px;
    width: 100%;
    height: 404px;
    cursor: pointer;

    // &:nth-child(3n) {
    //   margin-right: 0;
    // }

    // :nth-last-child(-n + 3) {
    //   margin-bottom: 0;
    // }
  }
}

.card-border {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  width: 450px;
  border-top: none;
}

// .portfolio__focus :hover .portfolio__thumb::before {
//     transform: translateY(0);
// }

// .portfolio__focus :hover .portfolio__text {
//     transform: translate(0);
// }

/*.portfolio__example {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--titles-color);
}*/

/*.portfolio__option {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;

    color: var(--text-color);
}*/

/*.portfolio__thumb::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 370px;
    height: 294px;

    background: rgba(33, 150, 243, 0.9);

    transform: translateY(350px);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/

/*.portfolio__item {
    margin-bottom: 30px;
    margin-right: 30px;
    width: 370px;
    height: 404px;
    cursor: pointer;
    &:nth-child(3n) {
            margin-right: 0;
        }
                :nth-last-child(-n + 3) {
                    margin-bottom: 0;
                }
                                &:hover,
                                &:focus {
                                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                                        1px 4px 6px rgba(0, 0, 0, 0.16);
                                }
}*/

/*.portfolio__item:nth-child(3n) {
    margin-right: 0;
}*/

/*.portfolio__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio__link {
    display: block;
}*/

/*.portfolio__item:hover,
.portfolio__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}*/
