.clients {
  padding-top: 60px;

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
      margin-left: 0;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &__logo {
    margin-bottom: 30px;
    margin-left: 30px;
    width: calc(100% / 2 - 30px);
    &:nth-child(n + 4) {
      margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
      width: calc(100% / 3 - 30px);
      margin-left: 30px;
    }

    // @media screen and (min-width: 1200px) {
    //   width: calc(100% / 3 - 30px);
    //   margin-bottom: 30px;
    //   margin-left: 30px;

    //   &:first-child {
    //     margin-left: 0px;
    //   }
    // }
    @media screen and (min-width: 1200px) {
      width: calc(100% / 6 - 30px);
      margin-left: 30px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__link {
    display: flex;
    padding: 16px 32px;
    fill: currentColor;
    color: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    max-width: 210px;
    height: 92px;
    cursor: pointer;

    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: currentColor;
      color: #2196f3;
      border-color: var(--button-color);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }

  &__icon {
    display: flex;
    fill: currentColor;
  }
}
.clients__list .container {
  display: flex;
  max-width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

/*.clients__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    margin-bottom: 50px;
}*/

/*.clients__list {
    display: flex;
    align-items: center;
    margin-left: 0;
}*/

/*.clients__logo {
    margin-left: 30px;
}*/

/*.clients__logo:first-child {
    margin-left: 0px;
}*/

/*.clients__link {
    display: flex;
    padding: 16px 32px;
    fill: currentColor;
    color: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    cursor: pointer;

    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}*/

/*.clients__link:hover,
.clients__link:focus {
    fill: currentColor;
    color: #2196f3;
    border-color: var(--button-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}*/
